.venv
__pycache__/
*.py[cod]
*.pyo

*.log
*.tmp
*.bak
logs/

.vscode/
.idea/

instance/
*.sqlite3
*.db

*.pytest_cache/
.coverage
htmlcov/

.DS_Store
Thumbs.db

.env

database.sql

.vscode

INSERT INTO cliente (id, nome, gmail, da.sql
Railway MySQL.session.sql